ion-tabs {
    margin-left: auto;
    margin-right: auto;
}

ion-tab-bar {
    background-color: var(--ion-color-dark);
    width: 80% !important;
    max-width: 400px !important;
    border-radius: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-height: 40px;
    height: 40px;
}

ion-tab-button {
  background-color: var(--ion-color-dark);
}