ion-content {
  background-color: var(--ion-color-dark);
}
ion-list {
  margin-top: 15%;
  position: absolute;
  margin-left: 8%;
}

ion-avatar {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 85%;
}

ion-icon {
  margin-right: 10px;
}

ion-menu {
  --ion-background-color: var(--ion-color-dark);
  --ion-text-color: var(--ion-color-primary-contrast);

  ion-list {
    background: transparent;
  }

  ion-icon {
    color: var(--ion-color-primary-contrast);
  }
}

#footer-toolbar {
  margin-left: 8%;
  ion-label {
    text-transform: none;
  }
}

.logout-btn {
    pointer-events: auto !important;
}