<ion-app>
  <ion-menu contentId="main-content" color="dark">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="primary">
          <ion-button (click)="onDismissMenu()">
            <ion-icon color="light" name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="container">
        <ion-list>
          <ion-item lines="none">
            <ion-avatar>
              <img src="./assets/icon/avatar.png" />
            </ion-avatar>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <h1>John Doe</h1>
              <p>johnoe@gmail.com</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" (click)="onOrders()">
            <ion-icon name="document-outline"></ion-icon>
            <ion-label>Orders</ion-label>
          </ion-item>
          <ion-item lines="none" (click)="onSettings()">
            <ion-icon name="settings-outline"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
    <ion-footer class="menu-footer">
      <ion-toolbar class="ion-no-border" id="footer-toolbar">
        <ion-buttons right padding-right (click)="onLogout()">
          <ion-button class="logout-btn">
            <ion-icon name="power-outline"></ion-icon>
            <ion-label>
              <p style="color: var(--ion-color-primary-contrast)">Log Out</p>
            </ion-label>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>

  
</ion-app>
