.container {
  height: 100%;
  margin-top: 10%;
  border-top: 1px solid #808080;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

ion-list {
  margin-top: 12px;
}

.desc-header {
  font-size: 15px;
  font-weight: bold;
}

.cart-btn {
  border-radius: 10px;
  text-transform: none;
}

#notif-ended {
    font-style: italic;
}