<ion-content>
  <div class="container">
    <ion-item lines="none" class="ion-text-center">
      <ion-label>
        <h1>
          Let's improve your <br />
          appearance <br> 
          <p style="color: var(--ion-color-secondary); margin-top: 10px;">find your shoes to support your daily activity</p>
        </h1>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="ion-text-center">
      <ion-button class="started-btn" color="light" (click)="onStart()">Get Started</ion-button>
    </ion-item>
  </div>
</ion-content>
