ion-content {
    --background: none;
    background-image: url("../../assets/img/splash.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.container  {
    width: 100%;
    height: 250px;
    bottom: 0;
    position: absolute;
}

ion-item {
    --ion-item-background: transparent;
    color: white;
}

h1 {
    font-size: 23px;
    font-weight: 200;
}

.started-btn {
    width: 169px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bold;
    --border-radius: 18px;
    text-transform: none;
}