<ion-header class="ion-no-border">
  <ion-toolbar style="background-color: red;">
    <ion-buttons>
      <ion-back-button text="" defaultHref="/pages/tabs/home"></ion-back-button>
      <ion-title class="ion-text-center">Cart</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="container">
    <ion-list>
      <ion-item lines="none">
        <ion-header class="ion-no-border">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-title>
                  <p class="desc-header">Order ID : 574WS</p>
                </ion-title>
              </ion-col>
              <ion-col>
                <ion-title class="ion-text-right">
                  <p class="desc-header">Amt : {{ 299 | currency }}</p>
                </ion-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-header>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img
            src="./assets/img/products/nike/air-jordan-mid.png"
          ></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Air Jordan Mid</h2>
          <p>42</p>
        </ion-label>
        <ion-buttons>
          <ion-button shape="round" class="cart-btn" fill="solid" color="dark"
            >Checkout</ion-button
          >
        </ion-buttons>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img
            src="./assets/img/products/converse/chuck-taylor-all-star-70s-high.png"
          ></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Chuck Taylor All Star 70s High</h2>
          <p>42</p>
        </ion-label>
        <ion-buttons>
          <ion-button shape="round" class="cart-btn" fill="solid" color="dark"
            >Checkout</ion-button
          >
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-center" id="notif-ended">
          Oops.. there is no more ...
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
