ion-content {
  --background: none;
  background-image: url("../../assets/img/login-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
}

ion-grid {
  top: 17%;
  position: absolute;
  width: 100%;
}

ion-card {
  border-radius: 20px;
}


ion-segment {
  --background: none;
  ion-segment-button {
    font-size: 24px;
    --border-width: 0;
    --background-checked: none;
    --indicator-color: var(--ion-color-light);
    --color: var(--ion-color-dark);
    --color-checked: white;
    font-weight: bold;
    text-transform: none;
  }
}

#login-btn {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-weight: bold;
  text-transform: none;
}

.brand-footer {
  margin-top: 182px;
  color: white;
  font-style: italic;  
}
.brand-footer-2 {
  margin-top: 23px;
  color: white;
  font-style: italic;  
}