<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-segment (ionChange)="onSwitch()" value="login">
          <ion-segment-button value="login">Login</ion-segment-button>
          <ion-segment-button value="signup">Sign Up</ion-segment-button>
        </ion-segment>
      </ion-col>
      <!-- LOGIN FORM -->
      <ion-col
        size="12"
        size-sm="8"
        offset-sm="2"
        class="ion-text-center"
        *ngIf="isShow"
      >
        <form [formGroup]="userForm" (ngSubmit)="signIn(userForm.value)">
          <ion-card>
            <ion-card-content>
              <ion-list>
                <ion-item lines="none">
                  <ion-label position="stacked" color="dark">Email</ion-label>
                  <ion-input
                    placeholder="type your email"
                    type="text"
                    required
                    email
                    formControlName="email"
                  >
                    <ion-icon
                      name="mail-outline"
                      color="dark"
                      style="margin-right: 4px"
                    ></ion-icon>
                  </ion-input>
                </ion-item>
                <ng-container *ngFor="let error of error_msg.email">
                  <ion-item
                    *ngIf="userForm.get('email').hasError(error.type) && (userForm.get('email').dirty || userForm.get('email').touched)"
                    lines="none"
                  >
                    <ion-label color="danger"> {{ error.message }} </ion-label>
                  </ion-item>
                </ng-container>
                <ion-item lines="none">
                  <ion-label position="stacked" color="dark"
                    >Password</ion-label
                  >
                  <ion-input
                    placeholder="type your password"
                    type="password"
                    formControlName="password"
                    required
                  >
                    <ion-icon
                      name="lock-closed-outline"
                      color="dark"
                      style="margin-right: 4px"
                    ></ion-icon>
                  </ion-input>
                </ion-item>
                <ng-container *ngFor="let error of error_msg.email">
                  <ion-item
                    *ngIf="userForm.get('password').hasError(error.type) && (userForm.get('password').dirty || userForm.get('password').touched)"
                    lines="none"
                  >
                    <ion-label color="danger"> {{ error.message }} </ion-label>
                  </ion-item>
                </ng-container>
              </ion-list>
              <ion-list>
                <ion-item lines="none">
                  <ion-button id="login-btn" color="dark" type="submit">
                    Log In
                  </ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>

      <!-- SIGN UP FORM -->
      <ion-col
        size="12"
        size-sm="8"
        offset-sm="2"
        class="ion-text-center"
        *ngIf="!isShow"
      >
        <form [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)">
          <ion-card>
            <ion-card-content>
              <ion-list>
                <ion-item lines="none">
                  <ion-label position="stacked" color="dark"
                    >Full Name</ion-label
                  >
                  <ion-input
                    placeholder="type your full name"
                    type="text"
                    name="full-name"
                    required
                  >
                    <ion-icon
                      name="person-outline"
                      color="dark"
                      style="margin-right: 4px"
                    ></ion-icon>
                  </ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked" color="dark">Email</ion-label>
                  <ion-input
                    placeholder="type your email"
                    formControlName="email"
                  >
                    <ion-icon
                      name="mail-outline"
                      color="dark"
                      style="margin-right: 4px"
                    ></ion-icon>
                  </ion-input>
                </ion-item>
                <ng-container *ngFor="let error of error_msg.email">
                  <ion-item
                    *ngIf="signUpForm.get('email').hasError(error.type) && (signUpForm.get('email').dirty || signUpForm.get('email').touched)"
                    lines="none"
                  >
                    <ion-label color="danger"> {{ error.message }} </ion-label>
                  </ion-item>
                </ng-container>
                <ion-item lines="none">
                  <ion-label position="stacked" color="dark"
                    >Password</ion-label
                  >
                  <ion-input
                    placeholder="type your password"
                    type="password"
                    formControlName="password"
                  >
                    <ion-icon
                      name="lock-closed-outline"
                      color="dark"
                      style="margin-right: 4px"
                    ></ion-icon>
                  </ion-input>
                </ion-item>
                <ng-container *ngFor="let error of error_msg.password">
                  <ion-item
                    *ngIf="signUpForm.get('password').hasError(error.type) && (signUpForm.get('password').dirty || signUpForm.get('password').touched)"
                    lines="none"
                  >
                    <ion-label color="danger"> {{ error.message }} </ion-label>
                  </ion-item>
                </ng-container>

                <ion-item lines="none">
                  <ion-label position="stacked" color="dark">Address</ion-label>
                  <ion-textarea placeholder="type your address"></ion-textarea>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item lines="none">
                  <ion-button id="login-btn" color="dark" type="submit">
                    Sign Up
                  </ion-button>                  
                </ion-item>
                <ion-item>
                  <label class="ion-text-center" color="danger"
                    >{{errorMsg}}</label
                  >
                  <label class="ion-text-center" color="success"
                    >{{successMsg}}</label
                  >
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>

    <ion-row class="brand-footer" *ngIf="isShow">
      <ion-col>
        <ion-label class="ion-text-center">
          <h1 style="font-weight: bold">Shoeniverse</h1>
        </ion-label>
      </ion-col>
    </ion-row>

    
    <ion-row class="brand-footer-2" *ngIf="!isShow">
      <ion-col>
        <ion-label class="ion-text-center">
          <h1 style="font-weight: bold">Shoeniverse</h1>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
