<ion-list class="ion-no-padding">
  <ion-item>
    <ion-label>Notification</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <ion-img
        src="./assets/img/products/converse/chuck-taylor-all-star-hi-lifes-too-short-to-waste.png"
      ></ion-img>
    </ion-thumbnail>
    <ion-label>
      <p>Your Order Has Been Sent.</p>
      <p>19 Oct, 2021</p>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <ion-img src="./assets/img/products/nike/air-jordan-mid.png"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <p>Your Order Has Been Proceed.</p>
      <p>19 Oct, 2021</p>
    </ion-label>
  </ion-item>
</ion-list>
