<ion-list>
  <ion-item>
    <ion-label class="ion-text-center">
      <h1>Upload Your Files</h1>
      <p>File Must Be JPG, PNG or JPEG</p>
    </ion-label>
  </ion-item>

  <ion-card
    style="
      width: 90%;
      border-style: dotted;
      box-shadow: none;
      border-radius: 20px;
    "
  >
    <ion-card-content>
      <ion-input type="file" accept="image/*"></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-buttons>
    <ion-button
      class="ck"
      fill="solid"
      shape="round"
    >
      Submit
    </ion-button>
  </ion-buttons>
</ion-list>
