<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="" defaultHref="/pages/tabs/home"></ion-back-button>
      <ion-title class="ion-text-center">Profile</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="width: 70%">
    <ion-row>
      <ion-col>
        <ion-buttons style="margin-top: 50%">
          <ion-button color="dark" (click)="onPhoto()">
            <ion-icon name="camera-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-avatar style="width: 121px; height: 117px">
          <img src="./assets/icon/avatar.png" />
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-buttons style="margin-top: 50%; margin-left: 40%">
          <ion-button color="dark" (click)="onLogout()">
            <ion-icon name="power-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="12">
        <ion-label class="ion-text-center" id="greetings">
          <p>Welcome,</p>
          <h1>John Doe</h1>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="container">
    <ion-list style="width: 90%; margin-left: auto; margin-right: auto">
      <ion-item (click)="onEdit()">
        <ion-icon name="person" style="margin-right: 5px;"></ion-icon>
        <ion-label>Edit Profil</ion-label>
      </ion-item>
      <ion-item (click)="onWishlist()">
        <ion-icon name="list-circle" style="margin-right: 5px;"></ion-icon>
        <ion-label>Wishlist</ion-label>
      </ion-item>
      <ion-item (click)="onCart()">
        <ion-icon name="cart" style="margin-right: 5px;"></ion-icon>
        <ion-label>Cart</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
