<ion-header translucent>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="width: 70%">
    <ion-row>
      <ion-col>
        <ion-buttons style="margin-top: 50%">
          <ion-button color="dark" (click)="onPhoto()">
            <ion-icon></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-avatar style="width: 121px; height: 117px">
          <img src="./assets/icon/avatar.png" />
        </ion-avatar>
      </ion-col>
      <ion-col>
        <ion-buttons style="margin-top: 50%; margin-left: 40%">
          <ion-button color="dark" (click)="onLogout()">
            <ion-icon></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-buttons>
      <ion-button
        color="dark"
        (click)="onPhoto()"
        style="margin-left: auto; margin-right: auto"
      >
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-grid>

  <div class="container">
    <ion-list style="width: 90%; margin-left: auto; margin-right: auto">
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Address</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-buttons>
      <ion-button
        fill="solid"
        color="dark"
        (click)="onSubmit()"
        style="
          margin-left: auto;
          margin-right: auto;
          margin-top: 50%;
          width: 50;
          height: 47px;
          width: 120px;
        "
        shape="round"
        >Submit
      </ion-button>
    </ion-buttons>
  </div>
</ion-content>
