.my-custom-class .modal-wrapper {
  background: #222;
  height: 500px;
}

.add-to-cart {
  background-color: #F2F5F2;
  max-height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-color: #d6dbd6;
  bottom: 0;
  position: absolute;
}

.cart-btn {
  margin-left: auto;
  margin-right: auto;
  text-transform: none;
  height: 64px;
  width: 164px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.size-grid {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.size-btn {
  margin-left: auto;
  margin-right: auto;
  
}