<ion-header translucent>
  <ion-toolbar>
    <ion-title>Product Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-label>
        <img [src]="brandImgd" alt="" />
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="brand-name">
        <h2 style="font-weight: bold; font-size: 20px;">{{ name }}</h2>
      </ion-label>
      <ion-label class="ion-text-right">
        <p style="right: 0px;">{{ price | currency}}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <p style="text-align: justify">{{ description }}</p>
    </ion-item>
  </ion-list>

  <div class="add-to-cart">
    <ion-buttons>
      <ion-button color="dark" fill="solid" shape="round" (click)="onAdd()" class="cart-btn">Add To Cart</ion-button>
    </ion-buttons>

    <ion-grid class="size-grid">
      <ion-row>
        <ion-col size="2">
          <ion-buttons>
            <ion-button color="dark" class="size-btn" fill="outline" shape="round">38</ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="2">
          <ion-buttons>
            <ion-button color="dark" class="size-btn" fill="outline" shape="round">39</ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="4">
          <ion-buttons>
            <ion-button color="dark" class="size-btn" fill="solid" shape="round">40</ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="2">
          <ion-buttons>
            <ion-button color="dark" class="size-btn" fill="outline" shape="round">41</ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="2">
          <ion-buttons>
            <ion-button color="dark" class="size-btn" fill="outline" shape="round">42</ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
