/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.pop-over .popover-content {
  background: #222;
}

.my-custom-class .modal-wrapper {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  padding: 0px !important;
}

.photo-modal .modal-wrapper {
  height: 40%;
  width: 90%;
  border-radius: 20px;
}

.edit-modal .modal-wrapper {
  width: 100%;
  height: 100%;
  padding: 0px !important;

  .container {
    height: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid #808080;
  }
}
