ion-grid,
ion-row,
ion-col,
ion-item {
  padding: 0;
}


h3 {
  font-weight: bold;
}

.motto {
  margin-top: 0px;
}

.brand {
  font-weight: lighter;
  opacity: 0.5;
}
.bottom-left {
  position: absolute;
  bottom: 10%;
  left: 16px;
  color: white;
  width: 58%;
  text-align: left;
  transition: 600ms all ease-in-out;
}

/** **/
#card-slider {
  width: 100%;
  box-shadow: none;
  border-radius: 15px;

  .img {
    object-fit: cover;
    width: 100%;
    transform: scale(1.1, 1.1);
    transition: 600ms all ease-in-out;
  }
}

.swiper-slide-active {
  transform: scale(1.05, 1.05);
  #card-slider {
    .img {
      transform: scale(1, 1);
    }

    .bottom-left {
      transform: scale(1, 1);
    }
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}

.cat-segment {
  max-width: 90%;
  margin-left: 20px;
  ion-segment-button {
    text-transform: none;
    --indicator-color: var(--ion-color-dark);
    --color-checked: var(--ion-color-dark);
  }
}

.bottomstyle {
  height: 80px;
  width: 85%;
  background: white !important;
  border-radius: 10px;
  color: black !important;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

ion-item {
  width: 100% !important;

  ion-label {
    h2 {
      font-size: 11px !important;
    }
  }
}


.pop-over .popover-content {
  background: #222;
}
