<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onNotification($event)">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="12">
        <ion-item lines="none">
          <ion-label color="dark">
            <h1 style="font-size: 24px; font-weight: bold">Explore</h1>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="12">
        <ion-item lines="none">
          <ion-slides [options]="slideOpts">
            <ion-slide *ngFor="let slider of slide">
              <ion-card id="card-slider">
                <img [src]="slider.img" alt="" class="img" />
                <div class="bottom-left">
                  <ion-label class="brand">{{ slider.brand }}</ion-label>
                  <h4 class="motto">{{slider.motto}}</h4>
                </div>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="12">
        <ion-segment
          class="cat-segment"
          value="0"
          [(ngModel)]="segment"
          (ionChange)="segmentChanged($event)"
          mode="md"
        >
          <ion-segment-button
            *ngFor="let prod of product"
            value="{{ prod.value }}"
            (ionChange)="segmentChanged($event)"
          >
            <ion-label>{{ prod.cat }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="12" style="margin-left: 18px">
        <ion-slides
          pager="false"
          #slides
          [options]="sliderOpt"
          (ionSlideDidChange)="slidesChanged(slides)"
          (ionSlideDidLoad)="slidesChanged(slides)"
          style="margin: 5px"
        >
          <ion-slide *ngFor="let prd of product">
            <!-- <ion-grid>
              <div>
                <ion-row>
                  <ion-col
                    size="12"
                    size-sm="8"
                    offset-sm="2"
                    class="ion-text-center"
                  >
                    <ion-list>
                      <ion-item
                        *ngFor="let products of prd.product"
                        (click)="presentModal()"
                      >
                        <ion-thumbnail slot="start">
                          <ion-img [src]="products.brandImg"></ion-img>
                        </ion-thumbnail>
                        <ion-label>
                          <h2>{{ products.name}}</h2>
                          <p>{{ products.price | currency }}</p>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid> -->
            <ion-slides [options]="sld">
              <ion-slide *ngFor="let products of prd.product">
                <ion-card style="min-height: 170px;" (click)="presentModal(products.name, products.brandImg, products.brandImgd, products.price, products.description)">
                  <ion-card-content>
                    <img [src]="products.brandImg" style="width: 400px; margin-top: 25px; margin-bottom: 25px;" />

                    <ion-label>
                      <h2>{{ products.name}}</h2>
                      <p>{{ products.price | currency }}</p>
                    </ion-label>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
            </ion-slides>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
